* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
@keyframes example {
    0% {
        background-color: #ff0000 ;
        left: 0;
        top: 0;
    }
    5% {
        background-color: #ff0029;
        left: 200px;
        top: 0;
    }
    10% {
        background-color: #ff00e1;
        left: 200px;
        top: 200px;
    }
    15% {
        background-color: #f200ff;
        left: 0;
        top: 200px;
    }
    20% {
        background-color: #dc00ff;
        left: 0;
        top: 0;
    }    
    25% {
        background-color: #7a00ff;
        left: 0;
        top: 0;
    }
    30% {
        background-color: #003eff;
        left: 200px;
        top: 0;
    }
    35% {
        background-color:  #005fff;
        left: 200px;
        top: 200px;
    }
    40% {
        background-color: #00abff        ;
        left: 0;
        top: 200px;
    }
    45% {
        background-color: #00ff90;
        left: 0;
        top: 0;
    }
    50% {
        background-color: #00ff23;
        left: 0;
        top: 0;
    }
    55% {
        background-color: #29ff00;
        left: 200px;
        top: 0;
    }
    60% {
        background-color: #a0ff00;
        left: 200px;
        top: 200px;
    }
    65% {
        background-color: #d6ff00;
        left: 0;
        top: 200px;
    }
    70% {
        background-color:  #fff200;
        left: 0;
        top: 0;
    }
    75% {
        background-color: #ffa600;
        left: 0;
        top: 0;
    }
    80% {
        background-color:  #ff6f00 ;
        left: 200px;
        top: 0;
    }
    85% {
        background-color:  #ff4400;
        left: 200px;
        top: 200px;
    }
    90% {
        background-color: #ff2e00;
        left: 0;
        top: 200px;
    }
    95% {
        background-color: #ff1900 ;
        left: 0;
        top: 0;
    }
    100% {
        background-color: #ff0000;
        left: 0;
        top: 0;
    }
}
ul {
    margin: 0;
    padding: 0;
}
body {
    background: black;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 1.5rem;
    transition: 0.2s;
    background: darkgray;
    color: lightgray;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #151515;
    color: lightgray;
}

ul li:hover {
    background: #ddd;
    color: black;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: underline;
}
ul li.checked::before {
    counter-increment: section;
    content: "" counter(section) ".";
}
ul li.checked::after {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 50%;
    right: 50%;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}


.header {
    padding: 30px 40px;
    color: white;
    text-align: center;
    background-color: #555;
    animation-name: example ;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

input {
    margin: 0;
    border: none;
    width: 75%;
    padding: 10px;
    font-size: 1rem;
}

h2 {
    margin-bottom: 1.5rem;
    color: white;
    text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #000, 0 0 25px #000, 0 0 30px #000, 0 0 35px #000;
}

#addBtn {
    padding: 10px;
    width: 25%;
    background: darkblue;
    color: white;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

#addBtn:hover {
    background-color: #bbb;
}

.container {
    display: flex;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    z-index: 2;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

#error {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    color: white;
    font-size: 3rem;
}
#notification {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    color: white;
    font-size: 3rem;
}
ul {
    counter-reset: section;
  }
  
  li::before {
    counter-increment: section;
    content: "" counter(section) ".";
    justify-content:last baseline;
    font-size: x-large;
    font: bold;
  }
  .btn-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
  }
  .cc {
    background: none; /* remove the default button background */
    border: none; /* remove the default button border */
    cursor: pointer; /* change the cursor to a pointer on hover */
    color: greenyellow; /* change the color of the text and icon */
    margin-left: 5px;
    margin-right: 5px;
  }
  .hahaa {
    margin-left: 10px;
  }
  
  .cc:hover {
    color: darkblue; /* change the color of the text and icon on hover */
  }
  
  .cc i {
    font-size: 1rem; /* adjust the icon size as needed */
  }
  .ccc i {
    font-size: xx-large; /* adjust the font size as needed */
    font-weight: bold;
    background: none; /* remove the default button background */
    border: none; /* remove the default button border */
    cursor: pointer; /* change the cursor to a pointer on hover */
    color: #00ff90; /* change the color of the text and icon */
    margin-left: 5px;
    margin-right: 5px;
    margin-top: none;
    margin-bottom: 5px;
  }
  .ccc i:hover {
    color: darkgreen; /* change the color of the text and icon on hover */

  }
  .lulw {
    animation: shine 5s infinite;
    font-size: x-large; /* adjust the font size as needed */
    background: none; /* remove the default button background */
    border: none; /* remove the default button border */
    cursor: pointer; /* change the cursor to a pointer on hover */
    color: darkblue; /* change the color of the text and icon */
    margin-left: 5px;
    margin-right: 5px;
    margin-top: none;
    margin-bottom: 5px;
  }
  .lulw:hover {
    color: darkgreen; /* change the color of the text and icon on hover */
  }
  .lulw i {
    font-size: xx-large; /* adjust the icon size as needed */
    font-weight: bold;
  }
  @keyframes shine {
    0% {
      text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #000, 0 0 25px #000, 0 0 30px #000, 0 0 35px #000;
    }
    50% {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff;
    }
    100% {
      text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #000, 0 0 25px #000, 0 0 30px #000, 0 0 35px #000;
    }
  }
